.listItem{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -40px;
}

.item{
  flex-basis: calc(100% / 4 - 40px);
  margin-top: 40px;
  margin-left: 40px;
}

.boxDescr{
  width: 300px;
  height: auto;
  padding: 20px;
  background-color: aliceblue;
box-shadow: 1px 4px 14px 12px rgba(16, 120, 201, 0.2);
  font-size: 15px;
 text-align: center;
}

img{
  width: 300px;
  height: 350px;
}

.btnLoad{
 display: block;
 margin: 0 auto;
 margin-bottom: 20px;
}